a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  max-width: 1440px;
  padding: 24px 156px;
}
.gallery-item {
  width: calc((100% - 48px) / 3);
  flex-shrink: 0;
}
.gallery-link {
  width: 100%;
  height: 100%;
}
.gallery-image {
  width: 100%;
  height: 100%;
}
.gallery-image:hover {
  cursor: url("./icon.svg#hover-icon"), pointer;
  transform: scale(1.025);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  padding: 28px 164px;
  background-color: rgba(46, 47, 66, 0.8);
}
.modal-image {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}
